## whole projects
bin/
node_modules/

## Pull GitLab Discussions
# config.json
*.log
todo_update.log

# PowerShell 一時ファイル
temp_*.json
gitlab_discussions_temp.json
*.bak

*~

*storybook.log
storybook-static
